<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<form action="http://127.0.0.1:8000/api/jobs/" method="post">
    <div class="form-group" aria-expanded="false">
        <label for="exampleFormControlSelect1">Channel Select</label>
        <select class="form-control" id="exampleFormControlSelect1" style="width: 10%">
            <option id="Channel" value="Tiktok">Tiktok</option>
            <option id="Channel" value="YouTube">YouTube</option>
            <option id="Channel" value="Instgram">Instgram</option>
        </select>
    </div>
    <div class="form-group" aria-expanded="false">
        <label for="exampleFormControlSelect1">Account Select</label>
        <select class="form-control" id="exampleFormControlSelect1" style="width: 10%">
            <option id="Account" value="BingquLeeFacebook">BingquLeeFacebook</option>
            <option id="Account" value="BingquLeeIns">BingquLeeIns</option>
            <option id="Account" value="BingquLeeTwitter">BingquLeeTwitter</option>
        </select>
    </div>

    <div class="form-group" aria-expanded="false">
        <label for="exampleFormControlSelect1">Frequency Select</label>
        <select class="form-control" id="exampleFormControlSelect1" style="width: 10%">
            <option id="Frequency" value="Once">Once</option>
            <option id="Frequency" value="Everyday">Everyday</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
